body {
  font-family: "Poppins";
  background-color: #f6faff;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  display: inline;
}

ul {
  padding: 0;
  padding-top: 10px;
  margin: 0;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0px 100px;
}

.navbar {
  margin-top: 40px;
  justify-content: space-between;
  display: flex;
}

.links {
  display: flex;
  gap: 50px;
}

.company-name {
  font-size: 22px;
  font-weight: 600;
  color: black;
}

.sign-up-button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid rgba(10, 27, 89, 0.6);
  border-radius: 5px;
}

.sign-up-button:hover {
  background-color: rgba(10, 27, 89, 0.1);
}

.hero-and-desc {
  text-align: center;
  padding-top: 100px;
}

.hero-desc {
  font-size: 16px;
  color: rgba(10, 27, 89, 0.6);
  margin-top: 20px;
}

.button-menu-item {
  padding: 15px 20px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 25px;
  background-color: #113fe2;
  color: white;
}

.text-button {
  color: #113fe2;
  font-weight: 500;
  text-decoration: underline;
}

.featured-jobs {
  margin-top: 80px;
  font-size: 16px;
  font-weight: 600;
  padding-left: 0;
}

.card-jobs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 40px;
}

.card-job {
  background-color: white;
  position: relative;
  color: black;
  padding: 20px;
  border-radius: 12px;
  max-width: 360px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card-job:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  background-color: #0026ff;
  color: white;
}

.card-job:hover .language-badge {
  background-color: #4b4bff;
}

.job-header {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}

.company-logo {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.card-job-title {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;

  margin: 0;
}

.company {
  font-size: 14px;
  margin: 4px 0 0 0;
  font-weight: 300;
}

.card-job-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0 25px 0;
  border-top: 1px solid #e0e0e0;
}

.card-job-desc {
  margin: 20px 0 20px 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

.language-badge {
  background-color: #e0e0e0;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
  display: inline-block;
}

.bookmark-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-job:hover .bookmark-btn {
  color: white; 
}
